<% layout("layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
    <br />
    <h3>Create new Listing</h3>
    <br />
    <form
      method="post"
      action="/listings"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <lable for="title" class="form-label">Title </lable>
        <input
          type="text"
          name="listing[title]"
          placeholder="Add a Catchy Title"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title Looks Good!</div>
      </div>

      <div class="mb-3">
        <lable for="description" class="form-label"> Description </lable>
        <textarea
          name="listing[description]"
          placeholder="enter description"
          class="form-control"
          required
        ></textarea>
      </div>

      <div class="mb-3">
        <lable for="image" class="form-label">Upload Listing Image </lable>

        <input
          type="file"
          name="listing[image]"
          class="form-control"
          required
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <lable for="price" class="form-label"> Price </lable>

          <input
            name="listing[price]"
            placeholder="1200"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Price should be valid</div>
        </div>

        <div class="mb-3 col-md-8">
          <lable for="country" class="form-label"> Country </lable>

          <input
            type="text"
            name="listing[country]"
            placeholder="India"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country should be valid</div>
        </div>
      </div>
      <div class="mb-3">
        <lable for="location" class="form-label"> Location </lable>

        <input
          type="text"
          name="listing[location]"
          placeholder="Rudraprayag, Uttarakhand"
          class="form-control"
          required
        />
        <div class="invalid-feedback">location should be valid</div>
      </div>

      <button class="btn btn-dark add-btn mt-3 mb-3">Add</button>
    </form>
  </div>
</div>
